<% if current_user %>
<h1>Praise DATABASE</h1>
<%= render :partial => 'shared/menu' %>
<p><%= link_to "Log out", logout_path, method: "delete" %></p>
<% else %>
<%= link_to "Log in", login_path %>
<% end %>
